*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/

*.log

app/schemas/com.tminus1010.budgetvalue.layers.data_layer.BudgetValueDB/9.json

app/schemas/com.tminus1010.budgetvalue.layer_data.BudgetValueDB/9.json

app/schemas/com.tminus1010.budgetvalue.layer_data.BudgetValueDB/
